<!-- index.html.erb -->

<div class="container mt-4">
  <div class="d-flex">
    <div class="col-6">
      <h3>Requests to book my boats:</h3>
      <% if @bookings.nil? %>
        <p>You have not received any Booking for your Boats yet.
          <%= link_to root_path do %>
            Boats
          <% end %>
        </p>
      <% else %>
        <div class="cards-grid mt-3">
          <% current_user.boats.each do |boat| %>
            <% boat.bookings.reverse_each do |booking| %>
            <div class="d-flex p-3 mb-2 shadow round">
              <div class="p-2">
                <% if boat.photos.first %>
                  <%= cl_image_tag(boat.photos.first.key, height: 150, width: 120, crop: :fill) %>
                <% end %>
              </div>
              <div class="p-2 m-0">
                <p class="mb-0"><strong><%= booking.boat.name %></strong></p>
                <p class="mb-0">First name: <%= booking.user.first_name %></p>
                <p class="mb-0">Last name: <%= booking.user.last_name %></p>
                <p class="mb-0">From: <%= (Time.parse(booking.start_date.to_s)).strftime("%d/%m/%Y") %></p>
                <p class="mb-0">To: <%= (Time.parse(booking.end_date.to_s)).strftime("%d/%m/%Y") %></p>
                <div class="d-flex justify-content-between">
                  <%= link_to 'Approve booking', review_path(booking), class: "btn btn-primary" %>
                  <div style="color:
                  <% if booking.confirmed == 'approved' %>
                  green
                  <% elsif booking.confirmed == 'pending' %>
                  yellow
                  <% else %>
                  red
                  <% end %>;
              ">
              <p class="m-0">Status: <%= booking.confirmed %></p>
                </div>
              </div>


              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="container">
      <h3>My bookings: </h3>
      <% if @bookings.nil? %>
        <p>You have not booked any boat yet. Make your first booking? </p>
        <%= link_to "Browse boats", boats_path %>
      <% else %>
        <div class="cards-grid mt-3">
          <% @bookings.reverse_each do |booking| %>
          <% if booking.user == current_user %>
            <div class=" p-3 shadow round mb-2">
              <div class="m-2">
                  <p><strong><%= booking.boat.name %></strong></p>
                  <p class="mb-0">From: <%= (Time.parse(booking.start_date.to_s)).strftime("%d/%m/%Y") %></p>
                  <p class="mb-0">To: <%= (Time.parse(booking.end_date.to_s)).strftime("%d/%m/%Y") %></p>
              </div>
              <div style="color:
              <% if booking.confirmed == 'approved' %>
              green
              <% elsif booking.confirmed == 'pending' %>
              yellow
              <% else %>
              red
              <% end %>;
              ">
              <p class="m-0">Status: <%= booking.confirmed %></p>
              </div>
              <div class="d-flex justify-content-end">
                <%= link_to edit_boat_booking_path(booking.boat,booking), class: "me-2" do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
                <%= link_to boat_booking_path(booking.boat,booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "me-2" do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
              </div>

            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="mt-5">
    <h3>My boats to rent:</h3>
    <div class="mb-3 d-flex justify-content-end">
      <%= link_to "Add a boat", new_boat_path, class: "btn btn-primary" %>
    </div>

    <% if current_user.boats.nil? %>
      <p>You're not renting any boat.</p>
    <% else %>
      <ul class="list-group list-group-horizontal justify-content-around mb-5">
        <% current_user.boats.each do |boat| %>
        <li class="list-group-item bg-white">
          <% if boat.photos.first %>
            <%= cl_image_tag(boat.photos.first.key, height: 150, crop: :fill) %>
          <% end %>
          <div>
            <%= link_to boat.name, boat_path(boat), class: "text-decoration-none"%>
          </div>
          <div class="d-flex justify-content-end">
            <%= link_to edit_boat_path(boat), class: "me-2" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
            <%= link_to  boat_path(boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "me-2" do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        </li>
        <% end  %>
      </ul>
    <% end  %>
  </div>
</div>


<!--------------------------------->
<div data-controller="boat-cards">

</div>

<div data-controller="boat-details" style="display: none;">

</div>
