
<!-- index.html.erb -->

<div class="container mt-4">
  <h3>My Booked Boats:</h3>
  <% if @bookings.nil? %>
    <p>You have not received any Booking for your Boats yet.
      <%= link_to root_path do %>
       Boats
       <% end %>
    </p>
  <% else %>
    <div class="cards-grid mt-5">
      <% current_user.boats.each do |boat| %>
        <div class="card p-3 shadow round">
          <div class="m-2">
            <% boat.bookings.each do |booking| %>
              <p><%= booking.boat.name %> - <%= booking.start_date %> - <%= booking.end_date %> </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container my-4">
  <h3>Boats That I Booked: </h3>
  <% if @bookings.nil? %>
    <p>You have not booked any boat yet. Make your first booking? </p>
    <%= link_to "Browse boats", boats_path %>
  <% else %>
    <div class="cards-grid mt-5">
      <% @bookings.each do |booking| %>
        <div class="card p-3 shadow round">
          <div class="m-2">
            <!-- Display booking information here -->
            <%= booking.boat.name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<div class="mt-5">
  <h3>My boats to rent:</h3>
  <ul class="list-group list-group-horizontal justify-content-around">
    <% current_user.boats.each do |boat| %>
    <li class="list-group-item">
      <% if boat.photos.first %>
        <%= cl_image_tag(boat.photos.first.key, height: 150, crop: :fill) %>
      <% end %>
      <div>
        <%= link_to boat.name, boat_path(boat), class: "text-decoration-none"%>
      </div>
      <div class="d-flex">
        <%= link_to "Edit", edit_boat_path(boat), class: "me-2 text-info text-decoration-none"%>
        <%= link_to "Delete", boat_path(boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "me-2 text-danger text-decoration-none"%>
      </div>

    </li>
    <% end  %>
  </ul>
</div>
