
<div class="banner d-flex align-tiems-center justify-content-center" style="background-position: right 17%; height: 550px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzkglhdat/image/upload/v1706864852/roberto-h-qToVxSYXPYU-unsplash_pul1z4.jpg);">
    <div>
      <h1>AirbnBoat</h1>
      <p style="opacity: 0.90;">Your next nautic adventure is near!</p>
    </div>

</div>

<div class="main">
  <div class="d-flex justify-content-center mt-5">
    <h4 class="text-primary">Find the perfect boat</h4>
  </div>

  <div class ="boats">
    <div class="cards">
      <% @boats.each_with_index do |boat, index| %>
      <% break if index >= 3 %>
      <div class="card-trip">

        <div class="d-flex">
              <% if boat.photos.first.nil? %>
                <img src="https://res.cloudinary.com/dzkglhdat/image/upload/v1706697996/no_image_b97fcc.png" alt="no_img">
              <% else %>
                <%= cl_image_tag(boat.photos.first.key, height: 200, crop: :fill) %>
              <% end  %>
        </div>
        <div class="card-trip-infos">

          <div class="row">
            <h6 class="mb-1"><%= boat.name %></h6>

            <% if boat.bookings.any? && boat.bookings.first.reviews.present? %>
              <% number_of_ratings = 0 %>
              <% total_rating = 0 %>
              <% boat.bookings.each do |booking| %>
                <% booking.reviews.each do |review| %>
                  <% total_rating += review.rating %>
                  <% number_of_ratings += 1 %>
                <% end %>
              <% end %>
              <% average_rating = total_rating.to_f / number_of_ratings %>
              <div class="d-flex">
                <p class="text-info me-2"><%= display_star_rating(average_rating)%></p>
                <p><%= number_of_ratings%> reviews</p>
              </div>
            <% else %>
              <div><p>No ratings yet for this boat</p></div>
            <% end %>

            <div class ="">
              <div class="d-flex">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-location-dot fs-6 text-light"></i>
                  <p class="ms-2 fs-6"><%= boat.port %></p>
                </div>
                <div class="d-flex align-items-center fs-6 ms-3">
                  <i class="fa-solid fa-people-group text-light"></i>
                  <p class="ms-2 fs-6"><%= boat.capacity %></p>
                </div>
              </div>


              <div class="d-flex justify-content-end">
                <p class="card-trip-pricing fs-6 fw-bold text-primary"><%= boat.price_per_day %> €/day</p>
              </div>

                    <%# <div><%= link_to "View boat", boat_path(boat) %>
            </div>
          </div>
        </div>
        <%= link_to '', boat_path(boat), class: 'card-link'  %>
      </div>
    <% end %>
   </div>

    <div class="button-more-boats">
      <%= link_to "Browse more boats", boats_path, class: "btn btn-info" %>
   </div>

    <div class="d-flex justify-content-center mt-4">
    <div class="offer-boat d-flex w-80 mb-5 justify-content-center" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); position: relative; ">
      <img class="" src="https://res.cloudinary.com/dzkglhdat/image/upload/v1706864459/ivan-ragozin-o9oQaOGpLz0-unsplash_wgn2ez.jpg"/>
      <div class="bg-white px-3 d-flex flex-column justify-content-center">
        <h4 class="text-primary">Offer your boat</h4>
        <p>Easily offer your boat to boat-enthusiasts </p>
        <%= link_to "Offer", new_boat_path, class: "btn btn-primary m-0" %>
      </div>
      <%= link_to '', new_boat_path, class: 'card-link'  %>
    </div>

    </div>




    </div>
  <%# </div> %>
</div>

<% if user_signed_in?  %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
</div>
