
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501771924607-209f42a6e7e4?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Your next nautic adventure is near!</h1>
  </div>
</div>

<div class="main">
  <h2>Find a boat</h2>
  <div class ="boats">
    <div class="cards">
      <% @boats.each do |boat| %>
       <div class="card-trip" >
            <%= cl_image_tag boat.photos.first.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h3><%= boat.name %></h3>
            <div class ="card-trip-port-capacity">
            <div><p><%= boat.port %></p></div>
            <div><p><%= boat.capacity %></p></div>
            <div><%= link_to "View boat", boat_path(boat) %></div>
            </div>
          </div>
          <h2 class="card-trip-pricing"><%= boat.price_per_day %></h2>
        </div>
      </div>
      <% end %>
   </div>

    <div class="button-more-boats">
      <%= link_to "Browse more boats", boats_path, class: "btn-flat" %>
   </div>


  <div class="boat-offer">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
    <div class="boat-offer-infos">
      <h2>Offer your boat</h2>
      <p>Offer your boat for boat-enthusiasts easily</p>
    <%= link_to "offer your boat", new_boat_path, class: "btn-flat" %>

    </div>
  </div>
</div>

<% if user_signed_in?  %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
</div>
