<div class="main mt-4">
  <h5 class="text-primary bg-third">Find a boat</h5>
  <div class="searchbar">
    <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control border-light", placeholder: "Search by location, boat type..." %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>


<%# Map %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>




  <div class ="boats">
    <div class ="cards ">
    <% @boats.each do |boat| %>
    <div class="card-trip">
      <div class="d-flex">
            <% if boat.photos.first.nil? %>
              <img src="https://res.cloudinary.com/dzkglhdat/image/upload/v1706697996/no_image_b97fcc.png" alt="no_img">
            <% else %>
              <%= cl_image_tag(boat.photos.first.key, height: 200, crop: :fill) %>
            <% end  %>
      </div>
            <div class="card-trip-infos">
              <div class="row">
                <h6 class="mb-1"><%= boat.name %></h6>

                <% if boat.bookings.any? && boat.bookings.first.reviews.present? %>
                  <% number_of_ratings = 0 %>
                  <% total_rating = 0 %>
                  <% boat.bookings.each do |booking| %>
                    <% booking.reviews.each do |review| %>
                      <% total_rating += review.rating %>
                      <% number_of_ratings += 1 %>
                    <% end %>
                  <% end %>
                  <% average_rating = total_rating.to_f / number_of_ratings %>
                  <div class="d-flex">
                    <p class="text-info me-2"><%= display_star_rating(average_rating)%></p>
                    <p><%= number_of_ratings%> reviews</p>
                  </div>
                <% else %>
                  <div><p>No ratings yet for this boat</p></div>
                <% end %>

                <div class ="">
                  <div class="d-flex">
                    <div class="d-flex align-items-center">
                      <i class="fa-solid fa-location-dot fs-6 text-light"></i>
                      <p class="ms-2 fs-6"><%= boat.port %></p>
                    </div>
                    <div class="d-flex align-items-center fs-6 ms-3">
                      <i class="fa-solid fa-people-group text-light"></i>
                      <p class="ms-2 fs-6"><%= boat.capacity %></p>
                    </div>
                  </div>


                  <div class="d-flex justify-content-end">
                    <p class="card-trip-pricing fs-6 fw-bold text-primary"><%= boat.price_per_day %> €/day</p>
                  </div>

                  <div><%= link_to "View boat", boat_path(boat) %></div>
                </div>
              </div>

            </div>
      </div>
      <% end %>
    </div>
  </div>
 </div>
