
<div class="main text-primary">
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <h2><%= @boat.name %></h2>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%@boat.photos.reverse_each do |photo| %>
        <%= cl_image_tag(photo.key, height: 300, crop: :fill, class: "carousel-item active")%>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

      <div class="card-content mt-3">
      <%# average rating for later %>
      <% if @boat.bookings.any? && @boat.bookings.first.reviews.present? %>
        <% number_of_ratings = 0 %>
        <% total_rating = 0 %>
        <% @boat.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
            <% total_rating += review.rating %>
            <% number_of_ratings += 1 %>
          <% end %>
        <% end %>
      <% end %>
        <% average_rating = total_rating.to_f / number_of_ratings %>
        <p><%= @boat.description %></p>
        <div style="display: inline;">
          <div class="mb-6" style="display: flex;">
            <div style="flex: 1;"><i class="fa-solid fa-sailboat text-primary" style="font-size: 16px;"></i>  <%= @boat.category %></div>
            <div style="flex: 1;"><i class="fa-solid fa-map text-primary" style="font-size: 16px;"></i>  <%= @boat.port %></div>
            <div style="flex: 1;"><i class="fa-solid fa-people-group text-primary"></i>  <%= @boat.capacity %></div>
          </div>
          <div style="display: flex;">
              <div style="flex: 1;"><i class="fa-solid fa-euro-sign text-primary" style="font-size: 16px;"></i>  <%= @boat.price_per_day %></div>
              <div style="flex: 1;"><i class="fa-solid fa-id-card text-primary" style="font-size: 16px;"></i>
              <%if @boat.license == true %>
                <%= "Required" %>
              <% else %>
                <%= "Not Required" %>
              <% end %></div>
            <div style="flex: 1;"><i class="fa-solid fa-star text-primary" style="font-size: 16px;"></i>  <%= average_rating %></div>
          </div>
        </div>
      </div>
          <div class="mb-6" style="display: flex;">
            <div style="flex: 1;">       <%= link_to "Book this boat", new_boat_booking_path(@boat), class: "btn btn-primary" %></div>
            <div style="flex: 1;">      <%= link_to "Back to boats", boats_path, class: "btn btn-primary" %></div>

          </div>




    </div>
  </div>

<div class="d-flex justify-content-center mt-3">
  <div class="col-6">
      <div class='mt-20'>
      <h2 class='mt-4 mb-3'>Reviews for <%= @boat.name %></h2>
      <% @boat.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
            <div class="card card-review p-2 text-primary">
              <p class='text-primary'><%= display_star_rating(review.rating) %></p>
              <p>Reviewed on <%= review.created_at.strftime("%B %e, %Y") %></p>
              <p><i><%= review.description %></i></p>
            </div>
          <% end %>
      <% end %>
      </div>
</div>
</div>
