<div class="row justify-content-center mt-3">
  <div class="col-6">
    <h2><%= @boat.name %></h2>
    <%@boat.photos.each do |photo| %>
      <%= cl_image_tag(photo.key, height: 300, crop: :fill) %>
    <% end %>
    <div class="card-content mt-3">
      <p>About this boat: <%= @boat.description %></p>
      <div>
        <p>Port: <%= @boat.port %></p>
        <p>Category: <%= @boat.category %></p>
      </div>
      <div class="d-flex justify-content-between">
        <p>
          <i class="fa-solid fa-people-group"></i>
          <%= @boat.capacity %>
        </p>
        <p>
          <i class="fa-solid fa-euro-sign"></i>
          <%= @boat.price_per_day %>
        </p>
      </div>
      <p>
        License required:
        <%if @boat.license == true %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
      </p>
    </div>

    <%= link_to "Back to boats", boats_path, class: "btn btn-primary" %>
    <%= link_to "Book this boat", new_boat_booking_path(@boat), class: "btn btn-primary" %>

  </div>
</div>
