<div class="row justify-content-center mt-3">
  <div class="col-6">
    <h2><%= @boat.name %></h2>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <%@boat.photos.reverse_each do |photo| %>
      <%= cl_image_tag(photo.key, height: 300, crop: :fill, class: "carousel-item active")%>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="card-content mt-3">
      <p>About this boat: <%= @boat.description %></p>
      <div>
        <p>Port: <%= @boat.port %></p>
        <p>Category: <%= @boat.category %></p>
      </div>
      <div class="d-flex justify-content-between">
        <p>
          <i class="fa-solid fa-people-group"></i>
          <%= @boat.capacity %>
        </p>
        <p>
          <i class="fa-solid fa-euro-sign"></i>
          <%= @boat.price_per_day %>
        </p>
      </div>
      <p>
        License required:
        <%if @boat.license == true %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
      </p>
    </div>

    <%= link_to "Back to boats", boats_path, class: "btn btn-primary" %>
    <%= link_to "Book this boat", new_boat_booking_path(@boat), class: "btn btn-primary" %>

  </div>
    <h2>Reviews for <%= @boat.name %></h2>
    <% @boat.bookings.each do |booking| %>
      <div class="card">
        <p><%= display_star_rating(booking.reviews.first.rating) %></p>
        <p>Reviewed on <%= booking.reviews.first.created_at.strftime("%B %e, %Y") %></p>
        <p><i><%= booking.reviews.first.description %></i></p>
      </div>
    <% end %>

</div>
