<!DOCTYPE html>
<html>
  <head>
    <title>Airbnboat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox.js/v3.1.2/mapbox.js'></script>
    </head>

  <body>
    <%# navbar %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fa-solid fa-sailboat text-primary" style="font-size: 36px;"></i>
          <% end %>

        <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li>
                <%= link_to "Browse boats", boats_path, class: "nav-link text-secondary" %>
              </li>

              <li>
                <%= link_to "My bookings", dashboard_path, class: "nav-link text-secondary" %>
              </li>

              <li>
                <div class="d-flex border border-primary rounded-pill">
                  <% if user_signed_in? %>
                    <p class="nav-link mb-0 text-secondary">Hello, <strong><%= current_user.first_name %></strong>! |</p>
                    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Logout ?"}, class: "nav-link ps-0 text-light" %>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path, class: "nav-link text-light" %>
                  <% end %>
                </div>

              </li>

              <%# <li class="nav-item">
                <a class="nav-link" href="#">Bookings</a>
              </li>
              <li class="nav-item dropdown">
                <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /> %>
                <%# <i i class="fa-solid fa-caret-down" style="font-size: 40px;" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/></i> %>

                <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
                </div> %>
              </li>
              <!--li class="nav-item"-->
              <!--/li-->
          </ul>
        </div>
      </div>
    </div>
    <div class = "wrapper">
      <%= yield %>
    </div>


    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        Full steam ahead... <i class="fa-solid fa-sailboat text-primary"></i>
      </div>
    </div>
  </body>
</html>
